body {
    background-color: rgb(255, 235, 249);
    box-sizing: border-box;
    margin: 0;
}
h1{
    margin-left: 30rem;
}
input {
    border-radius: 4px;
    border:  solid rgb(234, 127, 213) 3px;
    
    
    width: 19rem;
    height: 1.9rem;
    margin: 30px 0px 30px 490px;
    font-size: 1.2rem;

}

button {
    width: 5rem;
    height: 2.5rem;
    border: none;
    background-color: rgb(243, 255, 255);
    border-radius: 8px;
    border-style: solid;
    border-color: rgb(237, 152, 223);
}

.button1 {
    width: 4rem;
    height: 2.1rem;
    border: none;
    background-color: rgb(19, 37, 37);
    margin: 4px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(24, 80, 79);
    color: aliceblue;
}
#item {
    
    display: flex;
    flex-direction: column;
    justify-content:space-around;
}
#item button{
    margin-left: 50rem;  
    width: 5rem;
    height: 1.6rem;
    border-radius: 18px;
}


